/* Reset CSS*/
h1 {
    text-align: center;
    width: 100%;
}

header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: whitesmoke;
    display: flex;
    padding: 0;
    height: 75px;
}

body {
    margin: 0%;
    background-image: url("../ChatGPT Image 21 juin 2025, 18_06_10.png");
}

.menu {
    height: 100%;
    padding: 0%;
    max-width: 400px;
    background-color: rgb(207, 207, 207);
    position: fixed;
    bottom: 0;
    display: none;
    
}

.menu-checkbox:checked ~ .menu{
    display: block;
}

rect {
    color: black;
}

svg {
    color: black;
    position: fixed;
    top: 15px;
    left: 30px;
    height: 50px;
    width: 50px;
}

.menu-checkbox{
    position: fixed;
    appearance: none;
    top: 20px;
    left: 30px;
    height: 50px;
    width: 50px;
    z-index: 10;
    cursor: pointer;
}
nav ul{
    list-style-type: none;
    height:100%;
    top:59px;
    max-width: 400px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: whitesmoke;
    padding-right: 2em;
    padding-top: 10px;
} 

nav ul li{
    text-align: left;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: blue;
    border: 1px solid black;
}